<a href="https://colab.research.google.com/github/Kartavya-Jharwal/Kartavya_Business_Analytics2025/blob/main/Python_Basics_Business_Students.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics for Business Students
Welcome to your first Python notebook. Each section includes an example followed by a task for you to complete.

## 01 Variables

In [ ]:
# Example: Declaring variables
name = "Alice"
age = 25
is_student = True
print(name, age, is_student)

Alice 25 True

In [ ]:
# Task 1: Declare your own variables
# Create a variable called city with your city name
city="London"
# Create a variable called year_of_birth with your birth year
year_of_birth=1995
# Create a boolean variable is_enrolled and set it to True or False

print(city)

London

## 02 Data Types

In [ ]:
# Example: Checking data types
x = 5
y = 3.14
z = "Python"
print(type(x), type(y), type(z))

<class 'int'> <class 'float'> <class 'str'>

In [ ]:
# Task 2: Check the type of the following values
# Assign your full name to a variable and print its type
# Assign your age (as a decimal) to a variable and print its type

In [ ]:
# Assign your full name to a variable
full_name = "Your Full Name"
print(type(full_name))

<class 'str'>

## 03 Type Conversion

In [ ]:
# Example: Converting data types
a = "123"
b = int(a)
c = float(b)
print(a, b, c)

123 123 123.0

In [ ]:
# Task 3: Convert and print values
# Convert a number from float to int
# Convert a list into a string using str()

## 04 Lists

In [ ]:
# Example: Creating and modifying a list
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# Task 4: Create and modify your own list
# Create a list of 3 hobbies
# Add a fourth hobby using append()

## 05 Conditional Statements

In [ ]:
# Example: If-Else condition
score = 85
if score >= 50:
    print("Pass")
else:
    print("Fail")

Pass

In [ ]:
# Task 5: Write your own conditional
# Write an if-else block that checks if your age is over 18
# Print "Adult" or "Minor" accordingly

## 06 Loops

In [ ]:
# Example: For loop
for i in range(3):
    print("Iteration", i)

Iteration 0
Iteration 1
Iteration 2

In [ ]:
# Task 6: Write a for loop
# Loop through a list of your 3 favorite foods and print each one

## 07 Functions

In [ ]:
# Example: A function to greet
def greet(name):
    return "Hello, " + name

print(greet("Alice"))

Hello, Alice

In [ ]:
# Task 7: Write your own function
# Define a function that takes your name and age, and returns a greeting

## 08 Built in Functions

In [ ]:
# Example: Using built-in functions
numbers = [5, 10, 15]
print(len(numbers), sum(numbers))

3 30

In [ ]:
# Task 8: Use built-in functions
# Create a list of 4 numbers and use min(), max(), and sum() to analyze it

## 09 Importing Modules

In [ ]:
# Example: Importing and using the math module
import math
print(math.sqrt(16))

In [ ]:
# Task 9: Use a module
# Import the random module
# Print a random integer between 1 and 10

## 10 Lambda Functions

In [ ]:
# Example: A lambda function
square = lambda x: x * x
print(square(4))

In [ ]:
# Task 10: Write your own lambda
# Create a lambda function that adds 10 to a number and test it

## 11 Calculator Project

In [ ]:
# Example: Simple calculator
def calculator(x, y, operator):
    if operator == "+":
        return x + y
    elif operator == "-":
        return x - y
    elif operator == "*":
        return x * y
    elif operator == "/":
        return x / y

print(calculator(10, 5, "+"))

In [ ]:
# Task 11: Expand the calculator
# Add handling for exponents (x ** y) and modulus (x % y)