<a href="https://colab.research.google.com/github/Kartavya-Jharwal/Kartavya_Business_Analytics2025/blob/main/Python_Basics_Business_Students.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics for Business Students
Welcome to your first Python notebook. Each section includes an example followed by a task for you to complete.

In [2]:
print("Hello world!")

Hello world!

## 01 Variables

In [3]:
# Example: Declaring variables
name = "Kartavya"
age = 18
is_student = True
print(name, age, is_student)

Kartavya 18 True

In [9]:
# Task 1: Declare your own variables
# Create a variable called city with your city name
city="London"
# Create a variable called year_of_birth with your birth year
year_of_birth=2006
# Create a boolean variable is_enrolled and set it to True or False
is_enrolled=True
print(city, year_of_birth, is_enrolled)

London 2006 True

## 02 Data Types

In [10]:
# Example: Checking data types
x = 5
y = 3.14
z = "Python"
print(type(x), type(y), type(z))

<class 'int'> <class 'float'> <class 'str'>

In [11]:
# Task 2: Check the type of the following values
# Assign your full name to a variable and print its type
# Assign your age (as a decimal) to a variable and print its type

In [13]:
# Assign your full name to a variable
full_name = "Kartavya Jharwal"
print(age)
from datetime import datetime; age = (datetime.now() - datetime(2006, 11, 8)).days / 365.25
print(type(full_name),type(age),age)

18.833675564681723
<class 'str'> <class 'float'> 18.833675564681723

## 03 Type Conversion

In [26]:
# Example: Converting data types
a = "123"
b = int(a)
c = float(b)
print(a, b, c)

123 123 123.0

In [34]:
# Task 3: Convert and print values
# Convert a number from float to int
# Convert a list into a string using str()
# Convert a float to an integer
my_float = 9.87
my_int = int(my_float)
print("Converted to int:", my_int)

# Convert a list into a string
my_list = ["apple", "banana", "cherry"]
my_string = str(my_list)
print("List as string:", my_string)

Converted to int: 9
List as string: ['apple', 'banana', 'cherry']

## 04 Lists

In [27]:
# Example: Creating and modifying a list
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [35]:
# Task 4: Create and modify your own list
# Create a list of 3 hobbies
# Add a fourth hobby using append()
hobbies = ["painting", "quantum computing", "reading"]

# Add a fourth hobby using append()
hobbies.append("world domination")

# Print the updated list
print(hobbies)

['painting', 'quantum computing', 'reading', 'world domination']

## 05 Conditional Statements

In [28]:
# Example: If-Else condition
score = 85
if score >= 50:
    print("Pass")
else:
    print("Fail")

Pass

In [36]:
# Task 5: Write your own conditional
# Write an if-else block that checks if your age is over 18
# Print "Adult" or "Minor" accordingly
age = 18.8
if age > 18:
    print("Adult")
else:
    print("Minor")

Adult

## 06 Loops

In [25]:
# Example: For loop
for i in range(3):
    print("Iteration", i)

Iteration 0
Iteration 1
Iteration 2

In [29]:
# Task 6: Write a for loop
# Loop through a list of your 3 favorite foods and print each one
food = ["Truffle-infused Wild Mushroom Risotto","Stuffed Bell Peppers with Quinoa and Herbs","Butternut Squash Ravioli in Mornet Sauce"]

for meal in food:
    print(meal)

Truffle-infused Wild Mushroom Risotto
Stuffed Bell Peppers with Quinoa and Herbs
Butternut Squash Ravioli in Mornet Sauce

## 07 Functions

In [24]:
# Example: A function to greet
def greet(name):
    return "Hello, " + name

print(greet("Kartavya"))

Hello, Kartavya

In [33]:
# Task 7: Write your own function
# Define a function that takes your name and age, and returns a greeting
def greet_user(name, age):
    return "Hello " + name + ", you are " + age +" years old!"

# Example usage
print(greet_user("Kartavya", "18"))

Hello Kartavya, you are 18 years old!

## 08 Built in Functions

In [20]:
# Example: Using built-in functions
numbers = [5, 10, 15]
print(len(numbers), sum(numbers))

3 30

In [22]:
# Task 8: Use built-in functions
# Create a list of 4 numbers and use min(), max(), and sum() to analyze it
numbers = [12, 45, 7, 23]
print("Minimum:", min(numbers), "\nMaximum:", max(numbers), "\nSum:", sum(numbers))

Minimum: 7
Maximum: 45
Sum: 87

## 09 Importing Modules

In [19]:
# Example: Importing and using the math module
import math
print(math.sqrt(16))

4.0

In [18]:
# Task 9: Use a module
# Import the random module
# Print a random integer between 1 and 10
import random
print(random.randint(1, 10))

6

## 10 Lambda Functions

In [16]:
# Example: A lambda function
square = lambda x: x * x
print(square(4))

16

In [17]:
# Task 10: Write your own lambda
# Create a lambda function that adds 10 to a number and test it
add_ten = lambda x: x + 10
print(add_ten(5))

15

## 11 Calculator Project

In [15]:
# Example: Simple calculator
def calculator(x, y, operator):
    if operator == "+":
        return x + y
    elif operator == "-":
        return x - y
    elif operator == "*":
        return x * y
    elif operator == "/":
        return x / y

print(calculator(10, 5, "+"))

15

In [14]:
# Task 11: Expand the calculator
# Add handling for exponents (x ** y) and modulus (x % y)
def calculator(x, y, operator):
    if operator == "+":
        return x + y
    elif operator == "-":
        return x - y
    elif operator == "*":
        return x * y
    elif operator == "/":
        return x / y if y != 0 else "Error: Division by zero"
    elif operator == "**":
        return x ** y
    elif operator == "%":
        return x % y
    elif operator == "//":
        return x // y if y != 0 else "Error: Division by zero"
    else:
        return "Error: Unsupported operator"

print(calculator(10, 5, "+"))
print(calculator(10, 0, "/"))
print(calculator(2, 3, "**"))
print(calculator(10, 3, "%"))
print(calculator(10, 3, "//"))

15
Error: Division by zero
8
1
3

In [8]:
print(0.1+0.2)

0.30000000000000004